<p *ngIf="errorMessage">
    {{ errorMessage }}
</p>

<div class="row">
    <div class="connectionList column">
        <div class="connectionWrap" tabindex="0" *ngFor="let connection of stationConnections;"
            (click)="showDetails(connection.id)">
            <div class="connectionColumn">
                <div class="strong">{{ connection.departure.time * 1000 | date:'HH:mm' }}</div>
                <div>
                    <span class="platform">{{ connection.departure.platform }}</span>
                </div>
            </div>

            <div class="connectionColumn">
                <div>
                    <mat-icon class="timelapse-icon">
                        timelapse
                    </mat-icon>
                    <span class="duration-margin"> {{ connection.duration * 1000 | date:'HH:mm':'UTC' }} </span>
                </div>

                <div *ngIf="connection.departure.delay !== '0'" class="red">
                    <mat-icon class="more_time-icon">more_time</mat-icon>
                    <span>{{ connection.departure.delay * 1000 | date:'HH:mm':'UTC' }}</span>
                </div>

                <div *ngIf="connection.vias" class="">
                    <span class="connections-amount">{{ connection.vias ? connection.vias.number : 0 }}</span>
                    <mat-icon class="transfer_within_a_station-icon">transfer_within_a_station</mat-icon>
                </div>
            </div>

            <div class="connectionColumn">
                <div class="strong">{{ connection.arrival.time * 1000 | date:'HH:mm' }}</div>
                <div>
                    <span class="platform">{{ connection.arrival.platform }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <app-connection-details [details]="connectionDetails"></app-connection-details>
    </div>
</div>