<mat-toolbar color="primary" class="toolbar">
    <!-- <button (click)="onPress()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Traincacher</span>
    <span class="example-spacer"></span>

    <div *ngIf="!isOnline"> 
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>cloud_off</mat-icon>
        </button>
    </div>


    <!-- <div *ngIf="!isOnline"> 
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>cloud_off</mat-icon>
        </button>
    </div> -->
    

    

    <button mat-icon-button (click)="openMapsDialog()">
        <mat-icon>map</mat-icon>
    </button>
</mat-toolbar>

<!-- mode: over,push,side -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <app-favourites (sendConnectionsEvent)="showData($event)"></app-favourites>
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-search-ride [stationInputs]="mapData" [stationInputsFaves]="favData"></app-search-ride>
    </div>
</mat-drawer-container>